<!DOCTYPE html>
<html lang="ja">

<head>
<%= stylesheet_link_tag 'new', :media => "all" %>
</head>

<body>

  <h3>新規投稿ページ</h3>

  <div class="new">
   <%= image_tag "z8Iq8iJ1PZUybLx42F1BXmCTBaz" %>
   
  </div>


  <%= form_for @pixar do |f| %>

  
    <div class="field">
      <%= f.label :タイトル %>
      <%= f.text_field :name, :size => 30 %>
      <%= f.label :投稿内容 %>
        <br>
        <%= f.text_field :main, :size => 140%>
        <br>
    </div>
     
    <div class="field">
      <%= f.label :画像 %>
      <%= f.file_field :image %>
    </div>
 
    
    <div class="field">
      <%= f.label :動画 %>
      <%= f.file_field :video, :accept => 'video/*' %>
    </div>


    <div class="field">
      <%= f.label :本文 %>
      <%= f.text_area :main, :size => "30x2" %>
    </div>

    <div class="field">
     <%= f.label :備考欄 %>
     <%= f.text_area :mouse, :size => "30x2" %>
    </div>

    <%= f.submit "投稿する" %>
    <% end %>



  <%= link_to "一覧に戻る", pixars_path %>
  
</body>

</html>